.ql-snow h1 {
  font-size: 2em !important;
}

.ql-snow h2 {
  font-size: 1.6em !important;
}

.ql-snow h3 {
  font-size: 1.2em !important;
}

.ql-container {
  font-size: 20px;
  font-style: inherit !important;
}
