@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sohne';
  src: url('/fonts/sohne-300-normal.woff2') format('woff2'),
    url('/fonts/sohne-300-normal.woff') format('woff'),
    url('/fonts/sohne-300-normal.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'sohne';
  src: url('/fonts/sohne-400-normal.woff2') format('woff2'),
    url('/fonts/sohne-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sohne';
  src: url('/fonts/sohne-500-normal.woff2') format('woff2'),
    url('/fonts/sohne-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'sohne';
  src: url('/fonts/sohne-600-normal.woff2') format('woff2'),
    url('/fonts/sohne-600-normal.woff') format('woff'),
    url('/fonts/sohne-600-normal.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'sohne';
  src: url('/fonts/sohne-700-bold.woff2') format('woff2'),
    url('/fonts/sohne-700-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: 'sohne', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-primary: #242424;
  --color-background: #fafafa;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  letter-spacing: -0.02em;
}

body {
  margin: 0;
  color: var(--color-primary);
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

label,
button,
select,
summary,
[type='radio'],
[type='submit'],
[type='checkbox'] {
  cursor: pointer;
  color: inherit;
}

/* Hide spinner */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  appearance: textfield;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.toast-wrapper div[role='status'] {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
